[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
flake8 = "*"
autopep8 = "*"
pydocstyle = "*"

[packages]
boto3 = "*"
requests = "*"
lxml = "*"
bs4 = "*"
more-itertools = "*"
aws-xray-sdk = "*"
python-dateutil = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest -v --cov=src --cov-report=html --cov-branch"
build = "bash -c \"pipenv requirements > src/requirements.txt && sam build\""
start = "sam local invoke -e event.json KeibaFetcherFunction"
deploy = "sam deploy --resolve-s3 --stack-name keiba-fetcher --capabilities CAPABILITY_IAM --no-fail-on-empty-changeset"
